/* 全体的なマージンとパディングをリセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* ボックスサイズの計算方法をborder-boxに設定 */
}

body {
  font-family: Arial, sans-serif;
  background-color: #e9e9e9;
  color: #ecf0f1; /* 明るいグレーのテキスト色 */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row; /* 横並びにする */
  align-items: start;
  justify-content: center;
  flex-wrap: wrap; /* 必要に応じて折り返し */
}

/* セクションのスタイル調整 */
.image-classification, .game-section {
  margin: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(50% - 20px); /* 画面の半分の幅を使用 */
  max-width: 800px; /* 最大幅を設定 */
  text-align: center;
}

.image-classification {
  background-color: #fff;
  color: black;
}

.game-section {
  background-color: #fff;
  color: black;
}


header {
  background-color: #2096ba;
  color: white;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  margin-top: 0; /* 上側のマージンを消去 */
}

section {
  margin: 20px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  height: 700px;
  text-align: center;
}


button {
  background-color: #2096ba;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

button:hover {
  background-color: #167b96; /* 色を薄くする代わりに実際の色コードを使う */
}

button:disabled {
  background-color: #aaa; /* 無効化されたボタンの背景色 */
  cursor: not-allowed; /* 無効化されたときにカーソルが'禁止'のマークになるように設定 */
  opacity: 0.6; /* 無効化されたときに少し透明にする */
}

.button-container {
  display: flex; /* フレックスボックスを有効にする */
  justify-content: center; /* 中央揃え */
  align-items: center; /* アイテムを垂直方向に中央揃え */
  gap: 10px; /* ボタン間の間隔 */
}

.video {
  width: 100%;
  max-width: 640px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.game-container {
  margin: auto; /* 上下左右を自動で配置する */
  padding: 20px; /* ボックス内のコンテンツとボーダーの間に余白を追加 */
  display: flex; /* フレックスボックスを使用 */
  flex-direction: column; /* アイテムを縦に配置 */
  justify-content: center; /* 垂直方向の中央揃え */
  align-items: center; /* 水平方向の中央揃え */
  min-height: 50vh; /* 高さを指定して少し下げる */
}

.camera-setup {
  display: flex;    
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.data-collection-and-train {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* ボタン間の間隔を調整 */
}

#webcam {
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}